.donet-know {
    background-image: url(image/received_3408718219344570.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;


}

.about-donet {
    text-align: center;
    padding-top: 5%;
    color: white;
}

.font-size {
    font-size: 65px;
    margin: 0%;
}

.design-link {
    text-decoration: none;
    border-radius: 8px;
    border: 18px solid tomato;
    background-color: tomato;
    color: white;
    margin-top: 5%;


}

.Other-design {

    border: none;
    margin-bottom: 40px;
    outline: none;
    padding: 10px 20px;
}

#text-color {
    color: white;
    margin-bottom: 40px;
}

.amount-tk {
    text-align: center;
    padding-top: 50px;

}

.amount-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;

}


.amount-list li {
    list-style: none;
    margin: 15px;
    font-size: 20px;
    border: 30px solid gainsboro;

}

#border-set {
    color: rgb(255, 138, 117);
    border: 2px solid orange;
    height: 60px;
    width: 80px;
    border-radius: 5px;
    padding-top: 25px;
}

.other {
    border-bottom: 1px solid gray;
    margin-bottom: 60px;
    margin-top: 10px;

}

.Donet-plan {
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
}