.donet-know {
    background-image: url(image/received_3408718219344570.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;


}

.about-donet {
    text-align: center;
    padding-top: 5%;
    color: white;
}

.font-size {
    font-size: 65px;
    margin: 0%;
}

.design-link {
    text-decoration: none;
    border-radius: 8px;
    border: 18px solid tomato;
    background-color: tomato;
    color: white;
    margin-top: 5%;
    margin-bottom: 20px;


}

.Other-design {

    border: none;
    margin-bottom: 40px;
    outline: none;
    padding: 10px 20px;
}

#text-color {
    color: white;
    margin-bottom: 40px;
}

.amount-tk {
    text-align: center;
    padding-top: 50px;

}

.amount-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;

}


.amount-list li {
    list-style: none;
    margin: 15px;
    font-size: 20px;
    border: 30px solid gainsboro;

}

#border-set {
    color: rgb(255, 138, 117);
    border: 2px solid orange;
    height: 60px;
    width: 80px;
    border-radius: 5px;
    padding-top: 25px;
}

.other {
    border-bottom: 1px solid gray;
    margin-bottom: 60px;
    margin-top: 10px;

}

.Donet-plan {
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
}

.heading {
    text-align: center;
}

.donet-plan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.donet-plan-box {
    width: 400px;
    padding: 40px 0 30px 20px;
    background: rgb(240, 237, 238);
    margin: 0 10px;
    border-radius: 5px;
}

#donet-plan-box-active {
    background-color: rgb(240, 230, 185);
}

.donet-plan-box img {
    width: 20%;
    padding-bottom: 30px;
}

.donet-plan-box h1 {
    padding-bottom: 20px;
    font-weight: 600;
}

.donet-plan-box p {
    padding-right: 30px;
}

.subscribe-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.subscribe-content {
    background: rgb(247, 238, 217);
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-box {
    width: 300px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border: none;
}

.subscribe-button {
    outline: none;
    height: 40px;
    padding: 0 30px;
    background-color: rgb(175, 99, 36);
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.footer {
    height: 200px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h1 {
    color: crimson;
    font-style: italic;
    padding-bottom: 30px;
    font-family: "Satisfy", cursive;
}

.footer-container h3 {
    font-weight: 300;
    font-size: 1rem;
    color: rgba(236, 218, 218, 0.63);
}